.body {
  display: flex;
  margin: 0;
  padding: 0;
  background-color: #C0EAFF;
}
.Logo {
  background-color: #96CBE6;
}
.first{
    display: flex;
    align-items: center;
    justify-items: center;
    top: 0;
    position: absolute;
    gap: 1200px;
    right: 4rem;
    color: #000000;
    
}